.farms-button-outline {
  --color: #d1b06b;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  text-transform: uppercase;
  box-shadow: 2px 2px 10px #d1b16b87;
  color: var(--color);
  z-index: 1;
}

.farms-button-outline::before,
.farms-button-outline::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.farms-button-outline::before {
  top: -1em;
  left: -1em;
}

.farms-button-outline::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.farms-button-outline:hover::before,
.farms-button-outline:hover::after {
  height: 410px;
  width: 410px;
}

.farms-button-outline:hover {
  color: rgb(10, 25, 30);
}

.farms-button-outline:active {
  filter: brightness(0.8);
}
