@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Lato", sans-serif;
}
.my_banner {
  background-image: url("/src/assets/banner/scale01.jpg");
}
.login_banner {
  background-image: url("/src/assets/banner/scale02.jpg");
}
.blog_banner {
  background-image: url("/src/assets/banner/scale01.jpg");
}
